div#chatpan1 {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 320px;
  height: 180px;
  margin: auto;
  background-color: rgba(225, 225, 208, 0.3);
}

div#chatpan2 {
  position: absolute;
  top: 240px;
  right: 30px;
  width: 320px;
  height: 180px;
  margin: auto;
  background-color: rgba(225, 225, 208, 0.3);
}

div#chatpan3 {
  position: absolute;
  top: 450px;
  right: 30px;
  width: 320px;
  height: 180px;
  margin: auto;
  background-color: rgba(225, 225, 208, 0.3);
}

div#overlay{
	height: 100vh;
	width: 100vw;
	background-color: #444;
	opacity: 0.8;
	display: none;
}
 
