div#backgroundvideo {
/*  height: 100%;
  width: 70%;
*/
  position: absolute;
  top: 10px;
  left: 10px;
  height: 498px;
  width: 885px;
  background-color: rgba(225, 225, 208, 0.1);
}

div#chatpan1 {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 320px;
  height: 180px;
  margin: auto;
  background-color: rgba(225, 225, 208, 0.7);
}

div#chatpan2 {
  position: absolute;
  top: 220px;
  right: 30px;
  width: 320px;
  height: 180px;
  margin: auto;
  background-color: rgba(225, 225, 208, 0.7);
}

div#chatpan3 {
  position: absolute;
  top: 430px;
  right: 30px;
  width: 320px;
  height: 180px;
  margin: auto;
  background-color: rgba(225, 225, 208, 0.7);
}

div#selectionpan1 {
  position: absolute;
  bottom: 90px;
  left: 20px;  
  background-color: rgba(10, 200, 10, 100);
}
div#selectionpan2 {
  position: absolute;
  bottom: 50px;
  left: 20px;  
  background-color: rgba(10, 200, 10, 100);
}
div#selectionpan3 {
  position: absolute;
  bottom: 10px;
  left: 20px;  
  background-color: rgba(10, 200, 10, 100);
}

div#overlay{
	height: 100vh;
	width: 100vw;
	background-color: #444;
	opacity: 0.8;
	display: none;
}
 
